<footer class="site-footer">
    <p>
      {{@blog.title}}
      <a href="https://twitter.com/danielgynn" class="footer-icon"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/danielgynn" class="footer-icon"><i class="fa fa-github"></i></a>
      <a href="https://uk.linkedin.com/in/danielgynn" class="footer-icon"><i class="fa fa-linkedin"></i></a>
    </p>
    <p>&copy; 2016-2017.</p>
</footer>
