<footer class="mt5">
  <div class="fancy-div"></div>

  <div class="flex flex-jsb mb3 flex-col-mob">
    <div class="mb2">
      <p>danielgynn.com</p>
      <small>All rights reserved.</small>
    </div>

    <div class="flex">
      <div class="flex flex-dc mr2">
        <a href="/profile">Profile.</a>
        <a href="/blog">Blog.</a>
        <a href="/photography">Photography.</a>
      </div>

      <div class="flex flex-dc mr2">
        <a href="https://twitter.com/danielgynn">Twitter.</a>
        <a href="https://github.com/danielgynn">GitHub.</a>
        <a href="https://www.instagram.com/danielgynn/">Instagram.</a>
        <a href="https://uk.linkedin.com/in/danielgynn">LinkedIn.</a>
      </div>
    </div>
  </div>
</footer>
