<footer class="mt3 bt b--light-gray">
  <div class="mt4 pb3 flex flex-jsb mb3 flex-col-mob">
    <div class="mb2">
      <p>danielgynn.com</p>
      <small>All rights reserved.</small>
    </div>

    <div class="flex">
      <div class="flex flex-dc mr4">
        <a class="mb1" href="/profile">Profile.</a>
        <a class="mb1" href="/writing">Blog.</a>
        <a class="mb1" href="/photography">Photography.</a>
      </div>

      <div class="flex flex-dc mr3">
        <a class="mb1" href="https://twitter.com/danielgynn">Twitter.</a>
        <a class="mb1" href="https://github.com/danielgynn">GitHub.</a>
        <a class="mb1" href="https://www.instagram.com/danielgynn/">Instagram.</a>
        <a class="mb1" href="https://uk.linkedin.com/in/danielgynn">LinkedIn.</a>
      </div>
    </div>
  </div>
</footer>
