<nav class="relative top-0 w-100 home-navigation-bar navigation-bar" role="banner">
	<div></div>

	<div id="hamburgler" class="hamburgler-icon-wrapper fr ma3">
		<span class="hamburgler-icon"></span>
	</div>
</nav>

<div class="hamburgler-menu">
	<ul class="hamburgler-menu-list">
		<a href="/profile">Profile.</a>
		<a href="/writing">Writing.</a>
		<a href="/photography">Photography.</a>
	</ul>
</div>
