<!-- <nav class="flex flex-ac flex-jsb navigation-bar" role="banner">
	<a class="title-link" href="{{@blog.url}}">
		<h1>Daniel Gynn.</h1>
	</a>


</nav> -->



<header id="main-nav" class="main-nav bb b--light-gray bg-white-90 fixed top-0 w-100 ph3 pv3 ph4-m ph5-l">
	<a class="fl v-mid f6 f5-ns pl3 pl1-ns black b no-underline title-link" href="{{@blog.url}}">Daniel Gynn</a>

  <nav class="nav-list fr f6 fw6 ttu tracked">
    <a class="link dim near-black dib mr2" href="/profile" title="Profile">Profile</a>
    <a class="link dim near-black dib mr2" href="/writing" title="Blog">Blog</a>
    <a class="link dim near-black dib" href="/photography" title="Photography">Photography</a>
  </nav>

	<div class="relative">
		<div id="hamburgler" class="hamburgler-icon-wrapper fr">
			<span class="hamburgler-icon"></span>
		</div>
	</div>
</header>

<div class="hamburgler-menu">
	<ul class="hamburgler-menu-list">
		<a href="/profile">Profile.</a>
		<a href="/writing">Writing.</a>
		<a href="/photography">Photography.</a>
	</ul>
</div>
