{{!< home-default}}
<div class="">
  <header class="animated fadeInUp">
    <h1>{{@blog.title}}</h1>
    <h2>{{@blog.description}}</h2>
  </header>

  <section class="section-one animated fadeInUp">
    <p>I'm a freelance developer and designer based in the UK. I enjoy building things on the web with Ember.js and React, and have a strong passion for minimal web design and typography.</p>
  </section>

  <section class="section-two animated fadeInUp">
    <p>I spend most of my free time <a href="/blog">writing</a>, taking <a href="/photography">photographs</a>, and browsing <a href="https://twitter.com/danielgynn">Twitter</a>.</p>
  </section>
</div>
