{{!< home-default}}

<header class="ml3 ml5-ns mr3 mr5-ns my1 fadeInUp">
  <h1 class="white tl pt3 pl3 fw4 mw7 pr3 f3 f2-ns lh-copy">{{@blog.title}}</h1>
  <h1 class="white tl pt0 pl3 fw4 mw7 pr3 f3 f2-ns lh-copy">{{@blog.description}}</h1>
</header>
