{{!< home-default}}

<header class="my1 animated fadeInUp">
  <h1>{{@blog.title}}</h1>
</header>

<div class="w-80 section-one animated fadeInUp">
  <p class="m0">{{@blog.description}}</p>
</div>
