{{!< home-default}}

<header class="my1 animated fadeInUp">
  <h1>{{@blog.title}}</h1>
</header>

<div class="w-80 section-one animated fadeInUp">
  <p>{{@blog.description}}</p>
</div>

<nav class="my1 section-two animated fadeInUp">
  <a href="/profile">Profile.</a>
  <a href="/writing">Writing.</a>
  <a href="/photography">Photography.</a>
  <a href="https://twitter.com/danielgynn">Twitter.</a>
  <a href="https://github.com/danielgynn">GitHub.</a>
</nav>
