{{!< default}}
<section>
  <header class="">
    <h1 class="headline"><strong>Daniel Gynn</strong> is a freelance developer, designer & writer based in the UK.</h1>
  </header>

  <div class="p-wrap">
    {{#post}}
      {{content}}
    {{/post}}
  </div>
</section>
