{{!< default}}

<section class="wrap">
  <h1 class="page-title">Photography</h1>

  <p>Below is a selection of some of my favourite shots.</p>

  <p>You can check out more of my photography at <a href="http://danielgynn.exposure.co">Exposure</a>,
    <a href="http://instagram.com/danielgynn">Instagram]</a>, and <a href="https://www.flickr.com/photos/danielgynn/">Flickr</a>.
  </p>
</section>

{{#post}}
  <section class="photography-section">
    {{content}}
  </section>
{{/post}}
