{{!< default}}
<section class="wrap">
  <h1 class="page-title">Library</h1>
  <p class="text-center">A collection of my favourite books.</p>
  <hr class="fancy-div" />
</section>

<section class="library-wrapper">
  <article class="book">
    <a class="book-cover" href="https://www.goodreads.com/book/show/284066.The_Wind_Up_Bird_Chronicle">
      <img src="https://images.gr-assets.com/books/1322148274l/284066.jpg" />
      <div class="details">
        <p>The Wind-Up Bird Chronicle</p>
        <small>Haruki Murakami</small>
      </div>
    </a>
  </article>

  <article class="book">
    <a class="book-cover" href="https://www.goodreads.com/book/show/15688.L_tranger">
      <img src="https://images.gr-assets.com/books/1332596551l/15688.jpg" />
      <div class="details">
        <p>L'Étranger</p>
        <small>Albert Camus</small>
      </div>
    </a>
  </article>

  <article class="book">
    <a class="book-cover" href="https://www.goodreads.com/book/show/6545885-white">
      <img src="https://images.gr-assets.com/books/1390624147l/6545885.jpg" />
      <div class="details">
        <p>White</p>
        <small>Kenya Hara</small>
      </div>
    </a>
  </article>

  <article class="book">
    <a class="book-cover" href="https://www.goodreads.com/book/show/6095883-design-as-art">
      <img src="https://images.gr-assets.com/books/1359388850l/6095883.jpg" />
      <div class="details">
        <p>Design as Art</p>
        <small>Bruno Munari</small>
      </div>
    </a>
  </article>


  {{#post}}
    {{content}}
  {{/post}}


</section>
