{{!< default}}

<section class="mt4">
  <h1>Profile</h1>
  <div class="flex flex-col-mob">
    <div class="w-40">
      <img class="profile-img" src="http://i.imgur.com/XqMBXlL.jpg" alt="Self portrait" />
    </div>

    <div class="w-60">
      {{#post}}
        {{content}}
      {{/post}}

      <div class="details-section">
        <div class="details-wrapper">
          <h2>Experience</h2>
          <div class="details">
            <span><a href="https://repositive.io">Repositive</a></span>
            <small class="flex flex-ac flex-jfe right">2016-2017</small>
            <small class="bottom">Frontend Developer</small>
          </div>

          <div class="details">
            <span><a href="https://repositive.io">Repositive</a></span>
            <small class="flex flex-ac flex-jfe right">2015-2016</small>
            <small class="bottom">Junior Web Developer</small>
          </div>
        </div>

        <div class="details-wrapper">
          <h2>Education</h2>
          <div class="details">
            <span>University of Kent</span>
            <small class="flex flex-ac flex-jfe right">2013-2017</small>
            <small class="bottom">Computer Science with a Year in Industry</small>
          </div>
        </div>

        <div class="details-wrapper">
          <h2>Public Speaking</h2>
          <div class="details">
            <span><a href="https://vimeo.com/178828815">Ember London</a></span>
            <small class="flex flex-ac flex-jfe right">11.08.2016</small>
            <small class="bottom">A Beginner's Journey into Ember.js</small>
          </div>
          <div class="details">
            <span><a href="http://danielgynn-cambjs.surge.sh/">CambridgeJS</a></span>
            <small class="flex flex-ac flex-jfe right">11.07.2016</small>
            <small class="bottom">Building Ambitious Web Applications with Ember.js</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
