{{!< default}}
<section>
  <header class="">
    <h1 class="headline"><strong>Daniel Gynn</strong> is a freelance developer, designer & writer living in the South East, UK.</h1>
  </header>

  <div class="img-wrap">
    <img src="{{@blog.logo}}" alt="selfie" />
  </div>

  <div class="wrap">
    {{#post}}
      {{content}}
    {{/post}}
  </div>
</section>
