{{!< default}}
<section>
  <header>
    <h1 class="page-title">Profile</h1>
  </header>

  <div class="flex-column">
    <img class="flex-img" src="{{@blog.logo}}" alt="selfie">
    <div class="flex-text">
      {{#post}}
        {{content}}
      {{/post}}
    </div>
  </div>
</section>
