{{!< default}}
<section class="wrap">

  <!-- <h1 class="page-title">Profile</h1> -->
  <img src="{{@blog.logo}}" class="selfie center-align" alt="selfie">
  <hr class="fancy-div">

  {{#post}}
    {{content}}
  {{/post}}


</section>
