@import 'styles/variables';

// Vendors
@import 'vendors/normalize';
@import 'vendors/prism';
@import 'vendors/animista';
@import 'vendors/hamburger';
@import 'vendors/progress';

// Base styles
@import 'styles/typography';
@import 'styles/index';
@import 'styles/base';
@import 'styles/flex';
@import 'styles/sizing';
@import 'styles/responsive';

// Component-specific styles
@import 'styles/navigation';
