.navigation-bar {
  width: $page-width;
  margin: 0 auto;
  border-bottom: 1px solid darken($color-grey, 10%);

  @media (max-width: 780px) {
    width: 90%;
  }

  .title-link {
    img {
      margin: 1rem 0 !important;
    }

    h1 {
      color: lighten($color-black, 5%);
      padding: .5rem 0;
      margin: .5rem 0 !important;
      font-size: 2rem;
      font-family: $font-playfair;
      transition: $transition-all;

      &:hover {
        opacity: $opacity-fade;
      }
    }
  }

  .nav-list {
    list-style: none;

    a {
      font-style: italic;
      display: inline-block;
      padding: .33rem .8rem;

      &:hover {
        background-color: transparent;
      }
    }

    .active {
      opacity: $opacity-show;
      color: $color-black;
      transition: $transition-all;
    }
  }

  &.home-navigation-bar {
    border-bottom: 0;
    height: 100px;

    .hamburgler-icon,
    .hamburgler-icon::before,
    .hamburgler-icon::after {
      background-color: $color-white;
    }
  }
}

@media (max-width: 780px) {
  .nav-list {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-list {
    display: none;
  }

  .nav-list>li>a {
    padding: 10px 5px;
    font-size: 16px;
  }
}
