.scroll-top {
	width: 25px;
	height: 25px;
  font-size: 2rem;
	padding: 10px;
	text-align: center;
	background: $color-charcoal;
	color: $color-white;
  border: 2px solid $color-charcoal;
  border-radius: 50%;
	position: fixed;
	bottom: 50px;
	right: 60px;
	display: none;
  transition: $transition-all;

  span {
    padding-bottom: 5px;
  }

  &:hover {
    text-decoration: none;
    color: $color-charcoal !important;
    background: transparent;
  }

  @media (max-width: 600px) {
    right: 10px;
  }
}
