// Base styles
html,
body {
  background-color: $color-white;
}

a,
a:focus,
a:hover {
  border-bottom: 1px dotted $color-contessa;
  color: $color-contessa;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  max-width: 36rem;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

figure {
  margin: 1rem 0;

  .fig-cap {
    display: block;
    overflow: hidden;
    position: relative;
  }
}

figcaption {
  position: absolute;
  background: rgba(0, 0, 0, .75);
  color: $color-white;
  padding: 10px 20px;
  opacity: 0;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
}

figure:hover figcaption {
  left: 0;
  opacity: 1;
}

.fw-image {
  min-height: 100vh;

  .full-width-image {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

.image-header {
  min-height: 300px;

  .post-image {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background-size: contain;
    border: 0;
  }
}

.site-footer {
  display: block;
  padding: 1rem 0;
  font-size: 15px;
  position: relative;
  width: 100%;
}

.footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    .copyright {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .footer-social {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    .footer-icon {
      display: inline-block;
      opacity: .75;
      padding: .25rem;
      border: 0;
    }
}

.share {
  a {
    margin: 0 5px;
  }
}

.hero-overlay {
  position: relative;
  margin-bottom: 2em;
  padding: 3em 0;
  clear: both;
  background-color: $color-tundora;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    color: $color-white;
    font-size: 4.5rem;
    margin: 0 !important;
  }

  h3 {
    color: $color-white;
    margin-top: 0 !important;
    text-align: center;
  }
}

.center-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-margin {
  margin: 0 !important;
}

.home-list {
  h5 {
    margin-top: 10px !important;
  }
}

.pagination {
  display: block;
}
