// Base styles
html,
body {
  background-color: $color-white;
}

main {
  width: $page-width;
  min-height: 78%;
  margin: 0 auto;

  .wrap {
    margin: 1.5rem auto;
    max-width: 36rem;
  }
}

img,
iframe {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

img {
  height: auto;
}

@media (max-width: 600px) {
  img {
    padding: 0 -1rem;
  }
}

footer {
  width: 75vw;
  margin: 0 auto 3rem;
  height: 50px;
  font-size: 15px;
  margin-top: 5rem;

  a {
    color: $color-charcoal;
    opacity: $opacity-fade;
    margin: 0;
    transition: $transition-all;

    &:hover {
      color: $color-charcoal !important;
      opacity: $opacity-show;
    }
  }

  p {
    margin: 0 !important;
    padding: .5rem 0;
  }
}
