// Base styles
html,
body {
  background-color: $color-white;
}

main {
  width: $page-width;
  min-height: 78%;
  margin: 0 auto;

  .wrap {
    margin: 1.5rem auto;
    max-width: 36rem;
  }
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

footer {
  width: 75vw;
  margin: 0 auto 3rem;
  height: 50px;
  font-size: 15px;
  margin-top: 5rem;

  a {
    color: $color-charcoal;
    opacity: .7;
    margin: 0;
    transition: $transition-all;

    &:hover {
      color: $color-charcoal !important;
      opacity: 1;
    }
  }

  p {
    margin: 0 !important;
    padding: .5rem 0;
  }
}

// TODO TODO TODO

@media (min-width: 780px) {
  .w-40 {
    width: 40%;

    img {
      width: 90%;
    }
  }

  .w-60 {
    width: 60%;
  }

  .w-80 {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .w-100-tab {
    width: 100%;
  }
}
