.flex { display: flex; }
.flex-ac { align-items: center; }

.flex-jc { justify-content: center; }
.flex-jsa { justify-content: space-around; }
.flex-jsb { justify-content: space-between; }
.flex-jfe { justify-content: flex-end; }

.flex-dc { flex-direction: column; }
.flex-dr { flex-direction: row; }

.flex-col-mob {
  @media (max-width: 780px) {
    flex-direction: column;
  }
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  width: 70%;

  .flex-img {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 35%;
    height: 100%;
  }

  .flex-text {
    align-items: center;
    margin-left: 2rem;
  }
}
