.flex { display: flex !important; }
.flex-wrap { flex-wrap: wrap; }
.flex-ac { align-items: center; }

.flex-jc { justify-content: center; }
.flex-jsa { justify-content: space-around; }
.flex-jsb { justify-content: space-between; }
.flex-jfe { justify-content: flex-end; }

.flex-dc { flex-direction: column; }
.flex-dr { flex-direction: row; }

.flex-50 { flex: 1 1 50%; max-width: 50%; }

@media (max-width: 780px) {
  .flex-col-mob { flex-direction: column; }
  .flex-afs-mob { align-items: flex-start; }
  .flex-jfs-mob { justify-content: flex-start; }
  .flex-100-mob { flex: 1 1 100%; max-width: 100%; }
}

@media (max-width: 950px) {
  .flex-col-tab { flex-direction: column; }
  .flex-afs-tab { align-items: flex-start; }
  .flex-100-tab { flex: 1 1 100%; max-width: 100%; }
}
