// Margins
.my1 { margin: 1rem 0; }

.mx3 { margin: 0 3rem; }

.mt4 { margin-top: 4rem; }

.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }

.mr1 { margin-right: 1rem; }
.mr2 { margin-right: 2rem; }

.m0 { margin: 0; }

// Display
.dis-in-bl { display: inline-block !important; }

// Responsive helpers
@media (min-width: 780px) {
  .w-40 { width: 40%; img { width: 90%; } }
  .w-60 { width: 60%; }
  .w-80 { width: 80%; }
}

@media (max-width: 900px) {
  .m0-tab { margin: 0; }
  .w-100-tab { width: 100%; }
}

@media (max-width: 780px) {
  .mr0-mob { margin-right: 0; }
}

@media (max-width: 600px) {
  .dis-no-mob { display: none; }
}
