

// Display
.dis-in-bl { display: inline-block !important; }

.opa-show { opacity: $opacity-show !important; }
.opa-hide { opacity: $opacity-hide !important; }

// Responsive helpers
@media (min-width: 780px) {
  .w-40 { width: 40%; img { width: 90%; } }
  .w-50 { width: 50%; }
  .w-60 { width: 60%; }
  .w-80 { width: 80%; }
  .w-100 { width: 100%; }
}

@media (max-width: 900px) {
  .m0-tab { margin: 0; }
  .w-100-tab { width: 100%; }
}

@media (max-width: 780px) {
  .mr0-mob { margin-right: 0; }
}

@media (max-width: 600px) {
  .dis-no-mob { display: none; }
}
