.home-template {
  background-color: $color-charcoal;
  display: flex;
  justify-content: center;
  flex-direction: column;

  main {
    height: 10rem;
    width: 55vw;
    overflow: hidden;
    margin: auto auto auto 10%;
    padding: 0 !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 600px) {
      width: 85vw;
    }

    @media (max-width: 780px) {
      width: 70vw;
    }

    ::selection {
      background: $color-white !important;
      color: $color-charade !important;
    }

    .hamburgler-icon-wrapper {
      display: none !important;
    }

    .site-header {
      background-color: $color-koamaru;
    	-webkit-animation: color-change-2x 6s ease-in-out infinite alternate both;
    	-moz-animation: color-change-2x 6s ease-in-out infinite alternate both;
    	animation: color-change-2x 6s ease-in-out infinite alternate both;

      .nav-wrap {
        padding: 1rem 0 0 !important;
      }

      .nav {
        .after-a {
          color: $color-white;
          opacity: .7;

          &:hover {
            color: $color-white;
            opacity: 1;

            &::after {
              width: 100%;
              background-color: $color-white;
            }
          }
        }
      }
    }

    .site-nav {
      display: block;
      padding: 0 !important;

      a {
        font-weight: 700;

        @media (max-width: 600px) {
          font-size: .75rem !important;
        }
      }

      .site-title-link,
      h4 {
        display: none;
      }
    }

    header {
      animation-delay: .2s;
    }

    .section-one {
      animation-delay: 1.2s;
    }

    .section-two {
      animation-delay: 2.2s;
      margin-bottom: 2rem;
    }

    h1,
    h2,
    p {
      margin: .5rem 0;
      color: $color-white !important;
    }

    h1 {
      font-size: 6vw;
      font-family: $font-spectral !important;
      font-weight: 500;
      font-style: italic;
      line-height: 1;
      letter-spacing: 3px;
      margin: 0;
      border: 0;
      display: block;

      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }

    a {
      text-align: center;
      font-style: italic;
      border: 0;
      color: lighten($color-white, 50%);
      opacity: .7;
      transition: all .4s ease-in-out;

      &:hover {
        color: $color-white;
        opacity: 1;

        &::after {
          background-color: $color-contessa;
        }
      }
    }
  }
}
