.home-template {
  background-color: $color-charcoal;

  main {
    color: $color-white !important;
    height: 10rem;
    width: 55vw;
    overflow: hidden;
    margin: 10% auto auto 10%;
    padding: 0 !important;
    position: absolute;

    @media (max-width: 600px) {
      width: 85vw;
    }

    @media (max-width: 780px) {
      width: 80vw;
    }

    ::selection {
      background: $color-white !important;
      color: $color-charcoal !important;
    }

    header {
      animation-delay: .2s;
    }

    .section-one {
      animation-delay: 1.2s;
    }

    .section-two {
      animation-delay: 2.2s;
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 6vw;
      font-family: $font-spectral !important;
      font-weight: 500;
      font-style: italic;
      line-height: 1;
      letter-spacing: 3px;
      margin: 0;
      border: 0;
      display: block;

      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }

    a {
      font-style: italic;
      color: $color-white;
      opacity: $opacity-fade;
      transition: all .4s ease-in-out;

      &:hover {
        color: $color-white;
        opacity: $opacity-show;

        &::after {
          background-color: $color-charcoal;
        }
      }
    }
  }
}
