.home-template {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .hamburgler-icon-wrapper {
    display: block !important;
    right: 1rem !important;
    top: 1rem !important;
  }

  main {
    height: 75%;

    ::selection {
      background: $color-white !important;
      color: $color-charcoal !important;
    }

    header {
      animation-delay: .2s;
    }

    h1 {
      margin-bottom: 0;
    }

    .section-one {
      animation-delay: 1.2s;
    }

    .section-two {
      animation-delay: 2.2s;
      margin-bottom: 2rem;
    }
  }
}
