.home-template {
  background-color: $color-charcoal;
  display: flex;
  justify-content: center;
  flex-direction: column;

  main {
    height: 10rem;
    width: 55vw;
    overflow: hidden;
    margin: auto auto auto 10%;
    padding: 0 !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 600px) {
      width: 85vw;
    }

    @media (max-width: 780px) {
      width: 80vw;
    }

    ::selection {
      background: $color-white !important;
      color: $color-charcoal !important;
    }

    .hamburgler-icon-wrapper {
      display: none !important;
    }

    .site-nav {
      display: block;
      padding: 0 !important;

      a {
        font-weight: 700;

        @media (max-width: 600px) {
          font-size: .75rem !important;
        }
      }

      .site-title-link,
      h4 {
        display: none;
      }
    }

    header {
      animation-delay: .2s;
    }

    .section-one {
      animation-delay: 1.2s;
    }

    .section-two {
      animation-delay: 2.2s;
      margin-bottom: 2rem;
    }

    h1,
    h2,
    p {
      margin: .5rem 0;
      color: $color-white !important;
    }

    h1 {
      font-size: 6vw;
      font-family: $font-spectral !important;
      font-weight: 500;
      font-style: italic;
      line-height: 1;
      letter-spacing: 3px;
      margin: 0;
      border: 0;
      display: block;

      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }

    a {
      text-align: center;
      font-style: italic;
      border: 0;
      color: lighten($color-white, 50%);
      opacity: .7;
      transition: all .4s ease-in-out;

      &:hover {
        color: $color-white;
        opacity: 1;

        &::after {
          background-color: $color-charcoal;
        }
      }
    }
  }
}
