// Navigation

.site-header {
  // box-shadow: 0 0 10px rgba(0, 0, 0, .6);
  background-color: $color-white;
  z-index: 1000000;
  // position: fixed;
  text-align: center;
  width: 100%;
  top: 0;

  .nav-wrap {
    // align-items: center;
    // display: flex;
    // justify-content: space-between;
    padding: 1rem 0;
    // margin: 0 1rem;
  }

  li {
    a {
      border: 0;
      color: lighten($color-tundora, 50%);
      transition: all .4s ease-in-out;

      &:hover {
        color: lighten($color-tundora, 0);
      }
    }
  }
}

.site-title {
  display: inline-block;
  font-family: $font-playfair;
  margin: 0;
  width: 200px;
  border-bottom: 1px solid transparent;
  transition: all .8s ease-in-out;

  a {
    color: lighten($color-tundora, 15%);
    border-bottom: 1px solid transparent;
  }

  a:hover {
    color: $color-tundora;
  }

  &.site-title:hover {
    border-bottom: 1px solid $color-contessa;
  }
}

.nav {
  font-family: $font-roboto;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    display: inline-block;

    a {
      &:hover {
        background-color: transparent;
      }
    }
  }

  .active {
    a {
      color: $color-tundora;
      transition: all ease .8s;
    }
  }
}

.tag-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  li {
    margin: 0 .5rem;
    flex: 1;
    // font-size: 1.2rem;
    // line-height: 40px;
    // height: 30px;
    // margin: 0 .4rem;
    // display: inline-block;
  }

  a {
    text-decoration: none;
    display: block;
    transition: .5s all ease;
    color: lighten($color-tundora, 25%);
    border-bottom: 2px solid transparent;
    // width: 100px;

    &:hover {
      border-bottom: 2px solid lighten($color-contessa, 25%);
      color: $color-tundora;
    }

    &:active {
      cursor: default;
      border-bottom: 2px solid $color-contessa;
    }
  }

  .active-tag {
    border-bottom: 2px solid $color-contessa;
    color: $color-tundora;
  }
}
