// Navigation

.site-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1.7rem;

  a {
    border: 0;
    color: $color-tundora;
  }

  a:hover {
    color: $color-contessa;
    transition: color .18s ease, background-color .18s ease;
  }
}

.site-title {
  display: inline-block;
  font-family: $font-playfair;
  margin: 0;
}

.nav {
  font-family: $font-roboto;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    display: inline-block;

    a:hover {
      background-color: transparent;
    }
  }
}
