// Navigation

.site-header {
  box-shadow: 0 0 10px rgba(0,0,0,.6);
  background-color: $color-tundora;

  .nav-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
  }

  a {
    border: 0;
    color: darken($color-white, 25%);
  }

  a:hover {
    color: $color-white;
    transition: color .3s linear, background-color .3s linear;
  }

  .site-title:hover {
    border-bottom: 1px solid $color-white;
    transition: border .8s ease;
  }
}

.site-title {
  display: inline-block;
  font-family: $font-playfair;
  margin: 0;
  border-bottom: 1px solid transparent;

  a {
    color: $color-white;
  }
}

.nav {
  font-family: $font-roboto;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    display: inline-block;

    a:hover {
      background-color: transparent;
    }
  }
}

.tag-menu {
  margin-bottom: 2rem;

  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    margin: 0 .5rem;
    display: inline-block;
  }

  a {
    text-decoration: none;
    display: block;
    transition: .5s all ease;
    color: lighten($color-tundora, 25%);
    border: 2px solid transparent;
    border-radius: 2px;
    width: 120px;

    &:hover {
      border-bottom: 2px solid $color-contessa;
      color: $color-tundora;
    }

    &:active {
      background-color: lighten($color-contessa, 25%);
      cursor: default;
      border: 2px solid $color-contessa;
    }
  }

  .active-tag {
    border-bottom: 2px solid $color-contessa;
    color: $color-tundora;
  }

  @media screen and (min-width: 600px) {
    li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      display: inline-block;
      // margin-right: -4px;
    }
  }
}
