.navigation-bar {
  width: $page-width;
  margin: 0 auto;

  .title-link {
    h1 {
      color: lighten($color-black, 5%);
      padding: .5rem 0;
      margin: 1rem 0;
      font-size: 2rem;
      font-family: $font-spectral;
      font-weight: 300;
      font-style: italic;
      transition: $transition-all;

      &:hover {
        opacity: .7;
      }
    }
  }

  .nav-list {
    list-style: none;

    a {
      font-style: italic;
      display: inline-block;
      padding: .33rem .8rem;

      &:hover {
        background-color: transparent;
      }
    }

    .after-a {
      opacity: .7;
      transition: $transition-all;

      &:hover {
        color: $color-black;
        opacity: 1;

        &::after {
          background-color: $color-black;
        }
      }
    }

    .active {
      opacity: 1;
      color: $color-black;
      transition: $transition-all;
    }
  }
}
