// Navigation
.site-header {
  background-color: $color-charade;
  z-index: 1000000;
  text-align: center;
  width: 100%;
  top: 0;

  .nav-wrap {
    padding: 1rem 0;
  }

  a {
    border: 0;
    color: lighten($color-white, 50%);
    transition: all .4s ease-in-out;

    &:hover {
      color: $color-white;

      &::after {
        background-color: $color-contessa;
      }
    }
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.site-title {
  display: inline-block;
  margin: 0;
  width: 200px;
  transition: all .8s ease-in-out;
  font-size: 1em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: .75em;
  background: #272932;
  border: 5px solid $color-white;
  color: $color-white;

  &.site-title:hover {
    background: $color-white;
    color: $color-charade;
    cursor: pointer;
  }
}

.site-title-link {
  border-bottom: 0;

  &::after {
    bottom: 10px;
  }

  &:hover::after {
    width: 75%;
  }
}

.nav {
  font-family: $font-roboto;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;

    &:hover {
      background-color: transparent;
    }
  }

  .active {
    a {
      color: $color-white;
      transition: all ease .8s;
    }
  }
}

.tag-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  li {

    // font-size: 1.2rem;
    // line-height: 40px;
    // height: 30px;
    // margin: 0 .4rem;
    // display: inline-block;
  }

  a {
    margin: 0 .5rem;
    flex: 1;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: .5s all ease;
    color: lighten($color-white, 25%);
    border-bottom: 2px solid transparent;
    // width: 100px;

    &:hover {
      border-bottom: 2px solid lighten($color-contessa, 25%);
      color: $color-white;
    }

    &:active {
      cursor: default;
      border-bottom: 2px solid $color-contessa;
    }
  }

  .active-tag {
    border-bottom: 2px solid $color-contessa;
    color: $color-white;
  }
}
