.tag-photography {
  margin: 1rem auto;
  width: 100%;
  height: 300px;
  background-color: #292525;
  background-position: center center;
  background-size: cover;
  border: none;
  position: relative;
  overflow: hidden;
  padding-bottom: 50%;
  background-size: cover !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: opacity 0.4s ease;
  opacity: 1;

  &:hover {
    opacity: .7;
  }

  .pg-link-cover {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  .pg-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
  }

  .pg-content {
    top: initial;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 25% 0 5% 0;
    color: #fff;
    text-align: center;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);

    .pg-meta {
      // background-color: rgba(245,245,245,0.75);
      position: relative;
      z-index: 3;
      width: 90%;
      margin: 0 auto;
      color: #fff;

      h1 a {
        color: $color-white !important;
        font-family: $font-old-standard;
        font-style: italic;
        font-size: 3.5rem;
        transition: opacity .4s ease;

        &:hover {
          opacity: .7;
        }
      }

      h3 {
        color: $color-white;
        font-size: 1rem;
      }

      h1,
      h3 {
        letter-spacing: 1px;
        margin: 0;
        line-height: normal;
      }
    }
  }
}

.photography-thumb {
  display: flex;
  align-items: center;
  padding: 20px 0;

  .post-text {
    flex: 1 1 70%;
    margin-right: .5rem;
    align-self: flex-start;
  }

  .post-thumbnail {
    flex: 1 1 30%;
    border-bottom: none;

    img {
      display: block;
      height: auto;
      width: 100%;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .photography-section div { margin: 0; }
  .photography-section { padding: 0; }

  .pg-content {
    padding: 30% 0 5% 0 !important;
    .pg-meta {
      h1 a {
        font-size: 1.8rem !important;
      }

      h3 {
        font-size: .8rem !important;
      }
    }
  }
}
