.post {
    text-align: left;
    max-width: 100%;
}

.post-header {
  height: 300px;

  .hero-overlay {
    height: 100%;
  }
}

.blog-post {
  .post-title {
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 300;
  }

  .page-title {
    // margin: -2rem 0 0 !important;
  }

  .post-meta {

    p,
    section {
      margin-bottom: 0 !important;
      line-height: 30px;
      text-align: center;
    }
  }

  p:first-child::first-letter {
    color: $color-contessa;
    -webkit-initial-letter: 3 2;
    initial-letter: 3 2;
    margin: 0 .2em 0 0;
    font-size: 65px;
    line-height: 50px;
    float: left;
    font-family: $font-old-standard;
    font-style: italic;
  }
}

.post-title {
  font-weight: 300;
  margin: .63em 0 0;
  font-size: 1.9rem;

  a {
    color: $color-tundora;
    transition: color .5s ease;
  }

  a:hover {
    color: $color-contessa;
    text-decoration: none;
  }
}

.post-meta {
  font-family: $font-bitter;
  font-size: .7rem;
  color: $color-silver;
  margin-bottom: 1rem;
  text-transform: uppercase;

  i {
    color: $color-silver;
  }
}

.blog-blocks {
  color: $color-tundora;
  margin: .5rem 0;
}

.tag {
  background-color: $color-tundora;

  a,
  i {
    border: 0;
    color: $color-whitesmoke;
  }

  &:hover {
    a,
    i {
      color: $color-contessa;
      transition: color .4s ease;
    }
  }
}

.post-body {
    color: $color-emperor;
}

.post-foot {
  font-size: 1rem;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 1rem;

    i {
      padding: 0 2px;
    }

    a {
      border: 0;
      text-decoration: none;
    }
}

.post-excerpt a {
  border: 0;
}

.post-foot-left {
    height: 100%;
    width: 75%;
}

.post-foot-right {
    text-align: right;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 35%;
    margin-right: 20px;
}

.mini-post-header {
  a {
    color: $color-contessa;
    transition: all .5s ease;

    &:hover {
      color: lighten($color-contessa, 15%);
    }
  }
}
