/* Responsive */

@media (max-width: 780px) {
  .wrap {
    padding: 0 1rem;
  }
  .site-header {
    margin: 0 1rem;
  }
  figure {
    padding: 0;
  }
}

@media (min-width: 600px) {
  .site-nav {
    display: block;
  }

  .hamburgler-icon-wrapper {
    display: none;
  }
}

@media (max-width: 600px) {
  .wrap {
    padding: 0 1rem;
  }

  .site-nav {
    display: none;
  }

  .hamburgler-icon-wrapper {
    display: block;
  }

  .hero-overlay {
    .page-title {
      font-size: 3rem;
    }
  }

  img {
    padding: 0 -1rem;
  }
  .site-header {
    margin: 0 1rem;
    display: inline-block;
    text-align: center;
  }
  figure.fw-image {
    background-size: contain;
    .full-width-image {
      height: auto;
    }
  }
  .post {
    h1,
    .blog-post-title  {
      font-size: 1.5rem !important;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
}
