@media (max-width: 780px) {
  figure {
    padding: 0;
  }

  .flex-column {
    width: 90%;
    flex-direction: column;

    .flex-img {
      width: 60%;
      margin-bottom: 1rem;
      height: auto;
    }

    .flex-text {
      margin: 0;
    }
  }

  .hamburgler-icon-wrapper {
    display: block !important;
  }

  .nav-list {
    display: none;
  }
}

@media (max-width: 600px) {
  .book {
    width: 50% !important;
  }

  .flex-column {
    width: 90%;
    flex-direction: column;

    .flex-img {
      margin-bottom: 1rem;
      width: 60%;
      height: auto;
    }

    .flex-text {
      margin: 0;
    }
  }

  .hamburgler-icon-wrapper {
    display: block !important;
  }

  .nav-list {
    display: none;
  }

  .nav-list>li>a {
    padding: 10px 5px;
    font-size: 16px;
  }

  img {
    padding: 0 -1rem;
  }

  .fw-image {
    background-size: contain;

    .full-width-image {
      height: auto;
    }
  }

  .post-header {
    height: 150px !important;
  }

  .post {
    h1,
    .blog-post-title {
      font-size: 2rem !important;
      margin: 1rem 0 !important;
    }

    .post-meta {
      font-size: .8rem !important;
      margin: 0 auto 1rem !important;
    }

    .post-title-link {
      font-size: 1.4rem !important;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  .tag-menu {
    a {
      font-size: 1rem;
    }
  }
}
