// Responsive
@media (max-width: 780px) {
  .wrap {
    padding: 0 1rem;
  }

  figure {
    padding: 0;
  }
}

@media (min-width: 600px) {
  .site-nav {
    display: block;
  }

  .hamburgler-icon-wrapper {
    display: none;
  }
}

@media (max-width: 600px) {
  main {
    margin-top: 57px;
  }

  .wrap {
    padding: 0 1rem;
  }

  .site-nav {
    display: none;
  }

  .hamburgler-icon-wrapper {
    display: block;
  }

  .hero-overlay {
    .page-title {
      font-size: 3rem;
    }
  }

  img {
    padding: 0 -1rem;
  }

  .site-header {
    .nav-wrap {
      margin: 0 1rem;
      display: inline-block;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  figure.fw-image {
    background-size: contain;

    .full-width-image {
      height: auto;
    }
  }

  .post-header {
    height: 150px !important;
  }

  .post {
    h1,
    .blog-post-title {
      font-size: 1.8rem !important;
      margin: 1rem 0 !important;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  .tag-menu {
    a {
      width: 75px !important;
      font-size: 1rem;
    }
  }
}
