// Import from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i');
@import url('https://fonts.googleapis.com/css?family=Spectral:300,400,400i,500,500i,700,700i');

html,
body {
  color: $color-black;
  font-size: 17px;
  height: 100%;
  font-family: $font-open;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-spectral;
  line-height: 1.45;
  margin-bottom: 1rem;
}

p,
ul li {
  font-family: $font-spectral;
  margin: 0 auto 24px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  a {
    text-decoration: none;
   text-shadow: .03em 0 $color-white, -.03em 0 $color-white, 0 .03em $color-white, 0 -.03em $color-white, .06em 0 $color-white, -.06em 0 $color-white, .09em 0 $color-white, -.09em 0 $color-white, .12em 0 $color-white, -.12em 0 $color-white, .15em 0 $color-white, -.15em 0 $color-white;
   background-image: linear-gradient($color-white, $color-white), linear-gradient($color-white, $color-white), linear-gradient($color-charcoal, $color-charcoal);
   background-size: .05em 1px, .05em 1px, 2px 2px;
   background-repeat: no-repeat,no-repeat,repeat-x;
   background-position: 0 95%, 100% 95%, 0 83%;

   &::selection {
     text-shadow: .03em 0 $color-charcoal, -.03em 0 $color-charcoal, 0 .03em $color-charcoal, 0 -.03em $color-charcoal, .06em 0 $color-charcoal, -.06em 0 $color-charcoal, .09em 0 $color-charcoal, -.09em 0 $color-charcoal, .12em 0 $color-charcoal, -.12em 0 $color-charcoal, .15em 0 $color-charcoal, -.15em 0 $color-charcoal;
   }
 }
}

article p {
  // font-family: $font-spectral;
}

span {
  font-family: $font-open;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  opacity: .5;

  &:hover {
    a {
      opacity: 1;
    }
  }
}

a,
a:focus,
a:hover {
  color: $color-charcoal;
}

a {
  transition: $transition-all;

  &:hover {
    color: lighten($color-charcoal, 20%);
  }
}

h1 {
  font-size: 3rem;
  margin: 0 0 1.5rem;
  line-height: 1.2;

  @media (max-width: 600px) {
    font-size: 11vw;
  }
}

h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

ul li {
  margin: 0 auto;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}

blockquote {
  border-left: 5px solid $color-charcoal;
  margin: 1.5em .5rem;
  padding: .5em 1rem;
  font-style: italic;

  &::before {
    color: $color-charcoal;
    content: '\201C';
    font-size: 5rem;
    line-height: .1em;
    margin-right: .15em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
  }
}

::selection {
  background: lighten($color-charcoal, 5%);
  color: $color-white;
}
