// Typography

// Import from Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url('https://fonts.googleapis.com/css?family=Spectral:300,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,900');

// CHECK
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

html,
body {
  background-color: $color-white;
  font-family: $font-spectral;
  font-size: 18px;
  height: 100%;
}

body {
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-roboto;
  line-height: 1.45;
}

h1 {
  font-size: 4rem;
  margin: 0 0 1.5rem;
}

p {
  margin: 0 auto 19px !important;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 1.06rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;

  a {
   text-shadow: .03em 0 $color-white, -.03em 0 $color-white, 0 .03em $color-white, 0 -.03em $color-white, .06em 0 $color-white, -.06em 0 $color-white, .09em 0 $color-white, -.09em 0 $color-white, .12em 0 $color-white, -.12em 0 $color-white, .15em 0 $color-white, -.15em 0 $color-white;
   background-image: linear-gradient($color-white, $color-white), linear-gradient($color-white, $color-white), linear-gradient($color-charcoal, $color-charcoal);
   background-size: .05em 1px, .05em 1px, 2px 2px;
   background-repeat: no-repeat,no-repeat,repeat-x;
   background-position: 0 95%, 100% 95%, 0 83%;

   &::selection {
     text-shadow: .03em 0 $color-charcoal, -.03em 0 $color-charcoal, 0 .03em $color-charcoal, 0 -.03em $color-charcoal, .06em 0 $color-charcoal, -.06em 0 $color-charcoal, .09em 0 $color-charcoal, -.09em 0 $color-charcoal, .12em 0 $color-charcoal, -.12em 0 $color-charcoal, .15em 0 $color-charcoal, -.15em 0 $color-charcoal;
   }
 }
}

.p-wrap {
  p {
    max-width: 36rem;
    margin: 19px auto !important;

    @media (max-width: 600px) {
      padding: 0 1rem !important;
    }
  }
}

p,
ul li {
  margin: 0 auto;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}

h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

a,
a:focus,
a:hover {
  color: $color-charcoal;
  text-decoration: none;
}

a {
  transition: $transition-all;

  &:hover {
    color: lighten($color-charcoal, 20%);
  }
}

.after-a {
  position: relative;
  overflow: visible;
  border-bottom: 0;
  -webkit-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;

  &::after {
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 1px;
    background-color: $color-charcoal;
    content: ' ';
    display: block;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  &:hover {
    border-bottom: 0;

    &::after {
      width: 100%;
      background-color: $color-charcoal;
    }
  }
}

.intro-header {
  margin-top: 1rem;
  font-weight: 300;
  font-family: $font-roboto;
  font-size: 1.5rem;
  text-align: center;
}

.page-title {
  font-size: 2.5rem;
  padding-top: 0;
  font-family: $font-merriweather;
  margin-top: 3rem;
  margin-bottom: .5rem;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 700;
  font-style: normal;
}

.headline {
  font-size: 2.5rem;
  margin: 2rem auto;
  // width: 60%;
  font-weight: 300;
  font-family: $font-merriweather;
  text-align: center;
  line-height: inherit;

  @media (max-width: 880px) {
    font-size: 2rem;
    width: 80%;
  }

  @media (max-width: 780px) {
    font-size: 1.5rem;
    width: 95%;
  }
}

.page-subtitle {
  font-size: 2.2rem;
  font-family: $font-old-standard;
  font-style: italic;
}

.fa {
  color: inherit;
  transition: color .4s ease-in-out;
}

blockquote {
  border-left: 5px solid $color-charcoal;
  margin: 1.5em .5rem;
  padding: .5em 1rem;
  font-style: italic;

  &::before {
    color: $color-charcoal;
    content: '\201C';
    font-size: 5rem;
    line-height: .1em;
    margin-right: .15em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
  }
}

.text-center {
  text-align: center;
}

::selection {
  background: lighten($color-charade, 5%);
  color: $color-white;
}

.fancy-div {
  display: block;
  border: 0;
  text-align: center;

  &::before {
    font-weight: 900;
    font-style: italic;
    font-size: 56px;
    content: '~';
    display: inline-block;
    position: relative;
    top: -40px;
  }
}

.tag-talks {
  p {
    margin-bottom: 0 !important;
  }
}
