// Typography

// Import from Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

html,
body {
  background-color: $color-white;
  font-family: $font-playfair;
  font-size: 17px;
  height: 100%;
}

body {
  color: $color-tundora;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-emperor;
  font-family: $font-roboto;
  line-height: 1.45;
}

p {
  margin-bottom: 19px !important;
}

p,
ul li {
  margin: 0 auto;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

.intro-header {
  margin-top: 1rem;
  font-weight: 300;
  font-family: $font-roboto;
  font-size: 1.5rem;
  text-align: center;
}

.page-title {
  font-size: 2.5rem;
  padding-top: 0;
  font-weight: 900;
  font-family: $font-old-standard;
  text-align: center;
  font-style: italic;
}

.page-subtitle {
  font-size: 2.2rem;
  font-family: $font-old-standard;
  font-style: italic;
}

.tag-books {
  .post {
    h2,
    h3,
    h4,
    h5 {
      font-family: $font-old-standard !important;
      font-style: italic;
    }
  }
}

.fa {
  color: inherit;
  transition: color .4s ease-in-out;
}

// Colour social icons on hover.
.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-comments:hover {
  color: $color-contessa;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-github:hover {
  color: #333;
}

.fa-instagram:hover {
  color: #35729b;
}

.fa-flickr:hover {
  color: #ff0084;
}

.fa-rss:hover {
  color: #f26522;
}

.fa-google-plus-square:hover {
  color: #dd4b39;
}

.bitter-font {
  font-family: $font-bitter;
}

blockquote {
  border-left: 5px solid $color-contessa;
  margin: 1.5em .5rem;
  padding: .5em 1rem;
  font-style: italic;

  &::before {
    color: $color-contessa;
    content: '\201C';
    font-size: 5rem;
    line-height: .1em;
    margin-right: .15em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
  }
}

.text-center {
  text-align: center;
}

::selection {
  background: $color-contessa;
  color: $color-white;
}

.time-blocks {
  font-weight: 700;
  letter-spacing: .075em;
  font-family: $font-roboto;
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 0;
}

.fancy-div {
  margin: 40px 0;
  display: block;
  border: 0;
  text-align: center;

  &::before {
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    content: '~';
    display: inline-block;
    position: relative;
    top: -40px;
  }
}
