// Typography

// Import from Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);

html,
body {
  background-color: $color-white;
  font-family: $font-playfair;
  font-size: 17px;
  height: 100%;
}

body {
  color: $color-tundora;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-emperor;
  font-family: $font-roboto;
  line-height: 1.45;
}

p {
  margin-bottom: 19px !important;
}

p,
ul li {
  margin: 0 auto;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: .8em; }

h1 {
  margin: .67em 0;
}

h2, h3, h4, h5, h6 {
  margin-top: 1rem;
}

.page-title {
  font-size: 2.5rem;
  font-family: $font-old-standard;
  text-align: center;
  font-style: italic;
}

.page-subtitle {
  font-size: 2.2rem;
  font-family: $font-old-standard;
  font-style: italic;
}

.page-desc {
  font-family: $font-julius;
}

/**
* Colour social icons on hover.
*/
.fa-facebook:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #55acee;
}
.fa-comments:hover {
  color: $color-contessa;
}
.fa-linkedin:hover {
    color: #0077b5;
}
.fa-github:hover {
    color: #333333;
}
.fa-instagram:hover {
  color: #35729b;
}
.fa-flickr:hover {
  color: #ff0084;
}
.fa-rss:hover {
    color: #f26522;
}
.fa-google-plus-square:hover {
    color: #dd4b39;
}

.bitter-font {
  font-family: $font-bitter;
}

blockquote {
  border-left: 8px solid $color-contessa;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: '\201C''\201D''\2018''\2019';

  &::before {
    color: $color-contessa;
    content: open-quote;
    font-size: 5rem;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
  }

  p {
    display: inline;
    font-size: 1.8rem;
  }
}

.text-center {
  text-align: center;
}

::selection {
  background: $color-contessa;
  color: $color-white;
}
