// Colours
$color-white: #fff;
$color-black: #111;
$color-charcoal: #2c4251;

// Sizes
$page-width: 90vw;

// TODO cleanup
$color-charade: #272932;
$color-tundora: #424242;
$color-emperor: #515151;
$color-silver: #c0c0c0;
$color-contessa: #bf616a;
$color-whitesmoke: #f5f5f5;
$color-koamaru: #374a67;
$color-twitter: #55acee;
$color-github: #333;

// Font family
$font-merriweather: "Merriweather", serif;
$font-roboto: "Roboto", "Helvetica-Neue", sans-serif;
$font-spectral: "Spectral", "Georgia", serif;


// TODO cleanup
$font-georgia: "Georgia", serif;
$font-playfair: "Playfair-Display", "Georgia", serif;
$font-old-standard: 'Old Standard TT', serif;
$font-julius: 'Julius Sans One', sans-serif;

// Transitions
$transition-all: all .4s ease-in-out;
