// Colours
$color-white: #fff;
$color-black: #111;
$color-charcoal: #2c4251;
$color-grey: #f9f9f9;

// Sizes
$post-width: 100%;
$page-width: 75vw;

// Typefaces
$font-open: "Open Sans", "Helvetica-Neue", sans-serif;
$font-spectral: "Spectral", "Georgia", serif;

// Transitions
$transition-all: all .4s ease-in-out;

// Opacity
$opacity-show: 1;
$opacity-fade: .7;
$opacity-hide: 0;
