// Variables

// Colours
$color-white: #fff;
$color-tundora: #424242;
$color-emperor: #515151;
$color-silver: #c0c0c0;
$color-contessa: #bf616a;

// Font family
$font-roboto: "Roboto", "Helvetica-Neue", sans-serif;
$font-bitter: "Bitter", "Georgia", serif;
$font-playfair: "Playfair-Display", "Georgia", serif;
$font-old-standard: 'Old Standard TT', serif;
